@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Spectral&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    
    
}

body {
    font-family: Spectral, sans-serif;
    font-weight: 100;
    color: #161a1d;
}


/* headings and logo */

h1,h2 {
    font-family: Karla, sans-serif;
    text-transform: uppercase;
    color: #161a1d

}

#main-logo {
    float: left;
    margin-left: 3em;
    font-size: 2.2rem;
    letter-spacing: 0.1875;
}

/* navigation links */

#menu {
    font-size: 1.2rem;
    letter-spacing: 0.25rem;

}

#menu, #main-logo {
    line-height: 4.375rem;

}

#menu li {
    float: right;
    margin-right: 3rem;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color:#161a1d;
       
}

#menu a:hover {
    color: #e5383b;
}

.active {
    border-bottom: 0.55rem solid #e5383b;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

}

#cover-text, #cover-text h2 {
    color:#ffffff;

}

#hero-image {
    height: 500px;
    background: url('../images/Abbey-Gardens-long\ image.jpg') no-repeat center center;
    width: 100%;
    background-size: cover;
}

#cover-text {
    font-size: 1.5rem;
    font-family: Spectral, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.25rem;

    width: 18.75rem;
    height: 18.75.5rem;

    padding-top: 0.625rem;
    padding-left: 0.625rem;
    background-color: rgba(229, 56, 59, .7);
   
    bottom: 6rem;
    right: 9.375rem;

    position: absolute;

}