@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Spectral&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: 10px;
}

body {
    font-family: Spectral, sans-serif;
    font-weight: 100;
    color: #161a1d;
    background-color: #f5f3f4;
    text-align: center;
}

/* headings and logo */

h1,h2 {
    font-family: Karla, sans-serif;
    text-transform: uppercase;
    color: #161a1d
}

#main-logo {
    float: left;
    margin-left: 2rem;
    font-size: 2.2rem;
    letter-spacing: 0.1875rem;
}

/* navigation links */

nav {
    position:sticky;
    top:0;
    }

#menu {
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
    position:sticky;
    top:0;
}

#menu, #main-logo {
    line-height: 4.375rem;
}

#menu li {
    float: right;
    margin-right: 3rem;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color:#161a1d;
}

#menu a:hover {
    color: #e5383b;
}

.active {
    border-bottom: 0.55rem solid #e5383b;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#cover-text, #cover-text h2 {
    color:#ffffff;
}

#hero-image {
    height: 500px;
    background: url('../images/Abbey-Gardens-long.jpg') no-repeat center center;
    width: 100%;
    background-size: cover;
}

#cover-text {
    font-size: 1.5rem;
    font-family: Spectral, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    width: 18.75rem;
    height: 18.75rem;
    padding-top: 0.625rem;
    padding-left: 0.625rem;
    background-color: rgba(229, 56, 59, .7);
    bottom: 6rem;
    right: 9.375rem;

    position: absolute;
}

/*Why Visit*/

#why-header {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}


.where-to-visit {
    font-size: 1.2rem;
    margin: 4rem;
    padding-top: 0px;
    color: #0a0a0a;
    text-align: center;
}

.where-to-visit img {
    width: 40%;
}

/* Map & Contact */

#where-to-find-header {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}

#map-and-contact {
    height: 400px;
    margin: 3rem;
}

#map {
    float: left;
    height: 400px;
    width: 50%;
    contain: content;
}

#contact {
    float: right;
    height: 400px;
    width: 50%;
    contain: content;
    text-align: center;
    font-family: Karla, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

/* footer */

footer {
    height: 150px;
    background: #e5383b;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 2rem;
    margin: 1%;
    padding: 5%;
    color:#f5f3f4;
}

/*Contact Form*/

#contact-us-header {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 2rem;

}

#contact-form { 
    display: block;
    text-align: center;
}

.form {
    color: #fff;
    background-color:rgba(60, 60, 60, 0.6);
    width: 40%;
    padding: 30px;
    display: inline-block;
    margin-bottom: 30px;
    
    
}
    
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
    
.text-input:hover {
    border-color: #f16c6b;
}

.send-button {
    margin-top: 2rem;
    border-radius: 0.3rem;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 1.2rem;
    background-color: #e5383b;
    color: #ffffff;
    display: block;
}

.send-button:hover {
    background-color: #ffffff;
    color: #e5383b;
}

/*Gallery*/

#gallery-header {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 2rem;
}

#gallery-images {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    margin: 2rem;
}

#gallery-images > img {
        width: 100%;
}

/* For screen sizes 768px and down*/

@media (max-width: 768px) {
    #cover-text {
      display: none;
    }

    .where-to-visit img {
        width: 66%;
    }
        

/* For screen sizes 410px and down*/

  }
  @media (max-width: 410px) {
    #menu li {
      font-size: 2rem;
      margin-right: 2rem;
    }
    #main-logo {
      font-size: 1.7rem;
    }
  }